<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments :: html_head">
</head>

<body class="sb-nav-fixed">
<nav th:replace="fragments :: html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

</nav>

<div id="layoutSidenav">
    <div th:replace="fragments :: html_menu" id="layoutSidenav_nav">

    </div>

    <div id="layoutSidenav_content">
                <section id="about-section" class="pt-2">
                    <div class="container">
                        <div class="text-center mb-2">
                            <h3>Danh sách các món đã đặt</h3>
                            <p class="lead">Bạn có thể xem toàn bộ yêu cầu đặt cơm của bạn ở đây</p>
                        </div>
                        <div>
                            <th:block th:each="item,index : ${list}">

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex flex-column flex-lg-row">
                                            <div class="row flex-fill">
                                                <div class="col-sm-2 text-center">
                                                    <figure class="potoaboutwrap">
                                                        <div class="thumb-lg member-thumb mx-auto"><img
                                                                class="rounded-circle" height="100px" width="100px"
                                                                th:if="${item.order.food.image}"
                                                                th:src="${'/resources/uploads/'}+${item.order.food.image}">
                                                        </div>
                                                    </figure>
                                                </div>
                                                <div class="col text-center">

                                                    <h6 class="mt-lg-5" th:text="${item.order.food.name}">Tên món ăn</h6>
                                                </div>
                                                <div class="col py-2">
                                                    <h6>Ngày đặt món</h6>
                                                    <h6 th:text="${item.order.created}">Tên món ăn</h6>
                                                </div>
                                                <div class="col py-2">
                                                    <h6>Trạng thái</h6>
                                                    <td th:if="${item.order.status == 0}"><h4 class="text-danger">Đang chờ xử lý</h4></td>
                                                    <td th:if="${item.order.status == 1}"><h4 class="text-danger">Đã hoàn thành</h4></td>
                                                    <td th:if="${item.order.status == 2}"><h4 class="text-danger">Đã nhận món</h4></td>
                                                </div>
                                                <div class="col ml-8">
                                                    <br>

                                                    <div th:if="${item.order.status == 2}">
                                                        <button type="button"
                                                                class="btn btn-primary btn-rounded mb-2" data-bs-toggle="modal"
                                                                th:data-bs-target="'#exampleModal'+${item.order.id}">
                                                            Chấm điểm
                                                        </button>
                                                        <button
                                                                th:if="${item.isToday == true}"
                                                                type="button"
                                                                class="btn btn-outline-primary btn-rounded mb-2" data-bs-toggle="modal"
                                                                th:data-bs-target="'#exampleModalA'+${item.order.id}">
                                                            Hoàn trả
                                                        </button>
                                                    </div>
                                                    <button
                                                            th:if="${check == true && item.order.status == 0 && item.isToday == true}"
                                                            type="button"
                                                            class="btn btn-outline-primary btn-rounded mb-2" data-bs-toggle="modal"
                                                            th:data-bs-target="'#delete'+${item.order.id}">
                                                        Huỷ order
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal Update-->
                                <div class="modal fade" th:id="'exampleModal'+${item.order.id}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Đánh giá</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/user/comment}" method="post"
                                                      enctype="multipart/form-data">
                                                    <input type="hidden" name="food_id" th:value="${item.order.food.id}"
                                                           class="form-control">
                                                    <input type="hidden" name="food_id" th:value="${item.order.food.id}"
                                                           class="form-control">
                                                    <input type="hidden" name="order_id" th:value="${item.order.id}"
                                                           class="form-control">
                                                    <div class="mb-2">
                                                        <label class="col-form-label">Đánh giá:</label>
                                                        <select class="form-control" name="rate" required>
                                                            <option value="" selected>Chọn số sao</option>
                                                            <option value="1">1 ★</option>
                                                            <option value="2">2 ★</option>
                                                            <option value="3">3 ★</option>
                                                            <option value="4">4 ★</option>
                                                            <option value="5">5 ★</option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" style="width:100px"
                                                                class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                                                        </button>
                                                        <button type="submit" style="width:100px"
                                                                class="btn btn-primary">Gửi
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
<!--                                    delete-->
                                <div class="modal fade" th:id="'delete'+${item.order.id}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Huỷ order</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/user/order-delete}"
                                                      method="post">
                                                    <h6>Bạn có muốn huỷ order này không?</h6>
                                                    <input type="hidden" class="form-control"
                                                           id="id"
                                                           name="id"
                                                           th:value="${item.order.id}">
                                                    <div class="modal-footer"
                                                         style="margin-top: 20px">
                                                        <button type="button"
                                                                class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <button type="submit"
                                                                class="btn btn-danger">Xóa
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--delete-->

                                <!-- -->
                                <div class="modal fade" th:id="'exampleModalA'+${item.order.id}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Yêu cầu hoàn trả</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/user/request-add}" method="post"
                                                      enctype="multipart/form-data">
                                                    <input type="hidden" name="id" th:value="${item.order.id}"
                                                           class="form-control">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col-12  ">
                                                                <label for="addname"
                                                                       class="col-form-label">Món ăn:</label>
                                                                <input type="text" class="form-control"
                                                                       id="addname" th:value="${item.order.food.name}"
                                                                       readonly>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12  ">
                                                                <label for="addname"
                                                                       class="col-form-label">Ảnh:</label>
                                                                <input type="file" class="form-control"
                                                                       id="addname" name="file" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12  ">
                                                                <label class="col-form-label">Nội
                                                                    dung:</label>
                                                                <textarea class="form-control" name="description"
                                                                          type="text" cols="4" rows="5"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                    </div>
                </section>
            </main>
        </main>

        <script>

            ClassicEditor.create(document.querySelector('#editor')).then(eidt => {
                console.log("da" + eidt);
            })
                .catch(error => {
                    console.error(error);
                });

        </script>
        <script>

            var dodai = document.getElementById("dodai").value;
            var a = parseInt(dodai);
            for (var i = 1; i <= a + 10; i++) {
                var name = "#editor" + i
                ClassicEditor.create(document.querySelector(name)).then(eidt => {
                    console.log("da" + eidt);
                })
                    .catch(error => {
                        console.error(error);
                    });
            }


        </script>
        <footer th:replace="fragments :: footer" class="py-4 bg-light mt-auto">

        </footer>
    </div>
</div>

<script src="js/JQuery3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>

</html>