<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head">

</head>

<body class="sb-nav-fixed">
<nav th:replace="fragments :: html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

</nav>
<div id="layoutSidenav">
    <div th:replace="fragments :: html_menu" id="layoutSidenav_nav">

    </div>
    <div id="layoutSidenav_content" style="background-image: url('https://wallpaperaccess.com/full/767277.jpg');background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="container-fluid px-4">

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"></li>
            </ol>
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-1 text-white" th:if="${session.user.role.id != 2}">Chúc bạn một ngày tốt lành</h1>
                    <div class="row" th:if="${session.user.role.id == 2}">
                        <h2 class="mt-1 text-white" >Số lượt đặt món của hôm nay</h2>
                        <hr>
                        <div class="col ">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Tổng đặt món : <strong th:text="${sum}"></strong></div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Đang thực hiện : <strong th:text="${progress}"></strong></div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Đã nấu xong : <strong th:text="${done}"></strong></div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <div class="card bg-secondary text-white mb-4">
                                <div class="card-body">Đã nhận món : <strong th:text="${received}"></strong></div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/admin1/assets/assets/demo/chart-area-demo.js}"></script>
    <script th:src="@{/admin1/assets/assets/demo/chart-bar-demo.js}"></script>
    <script th:src="@{/admin1/assets/assets/demo/chart-pie-demo.js}"></script>
</body>

</html>